{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block head_title %}{% include "_brandname.html" %}{% endblock head_title %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="English">
        <meta name="og:url" content="{% block meta_url %}{{ SITE_URL }}{% endblock meta_url %}"> 
        <meta name="og:site_name" content="{{ SITE_NAME }}"> 
        <meta name="og:type" content="{% block meta_type %}article{% endblock meta_type %}">
        <meta name="og:title" content="{% block meta_title %}{% include "_brandname.html" %}{% endblock meta_title %}"> 
        <meta name="og:description" content="{% block meta_description %}django_chinese description{% endblock meta_description %}">
        <meta name="og:image" content="{% block meta_image %}{{ SITE_URL }}static/site/img/logo.png{% endblock meta_image %}">
        <meta name="twitter:site" content="@django_chinese">
        <meta name="twitter:title" content="{% block twitter_meta_title %}{% include "_brandname.html" %}{% endblock twitter_meta_title %}">
        <meta name="twitter:description" content="{% block twitter_meta_description %}django_chinese description{% endblock twitter_meta_description %}">
        <meta name="twitter:image" content="{% block twitter_meta_image %}{{ SITE_URL }}static/site/img/logo.png{% endblock twitter_meta_image %}">
        <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">

        {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css"> {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">

        {% comment %} Custom styles for this site {% endcomment %}


        {% block styles %}
            {% compress css %}
                <link type="text/x-scss" href="{% static 'site/css/main.scss' %}" rel="stylesheet">
            {% endcompress %}
        {% endblock styles %}

        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_TRACKING_ID }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '{{ GOOGLE_ANALYTICS_TRACKING_ID }}');
        </script>

        {% comment %} Custom tags for the head tag {% endcomment %}
        {% block extra_head_script %}
        {% endblock extra_head_script %}
    </head>

    <body>
        <div id="div_id_language" style="display: none;">{{ LANGUAGE_CODE }}</div>
        {% block navbar %}
            <nav id="main_menu" class="navbar navbar-expand-md navbar-light fixed-top bg-light" style="font-weight: bold; padding: 4px 0px;">
                <div class="container-fluid">
                    <a class="ml-1" href="/">
                        <img src="{% static 'site/img/logo.png' %}" alt="logo" width="30" height="30" loading="lazy">
                        {% comment %} <span style="margin-left: 5px; color: rgb(0, 0, 0, 0.7);">{{ SITE_NAME }}</span> {% endcomment %}
                    </a>

                    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse mx-2" id="navbarSupportedContent">
                        {% comment %} Main menu {% endcomment %}
                        <ul class="navbar-nav">
                            {% block navbar_left %}{% endblock %}
                        </ul>

                        {% comment %} User profile {% endcomment %}
                        <ul class="navbar-nav ml-auto">
                            {% if user.is_authenticated %}
                                {% if user.is_staff %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">管理</a></li>
                                {% endif %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                        {% if user.profile.picture %}
                                            <img src="{{ MEDIA_URL }}{{ user.profile.picture }}" alt="avatar" width="30" height="30" style="border-radius: 50%; margin-top:-3px;"> {{ user.get_username|truncatechars:20 }}
                                        {% else %}
                                            <img src="{% static 'site/img/profile_default.png' %}" alt="avatar" width="30" height="30" style="border-radius: 50%; margin-top:-3px;"> {{ user.get_username|truncatechars:20 }}
                                        {% endif%}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'profiles:show_self' %}">个人资料</a></li>
                                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">退出</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <a class="btn btn-primary" href="{% url 'account_login' %}">登录</a>
                                {% comment %} <a class="btn btn-primary btn-sm" href="{% url 'account_signup' %}">注册</a> {% endcomment %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock navbar %}
        
        {% block messages %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message | safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock messages %}
        
        {% block splash %}
        {% endblock splash %}
        
        {% block container %}
            <div class="container">
                <div class="starter-template">
                    <h1>New Project</h1>
                    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
                </div>
            </div>
        {% endblock container %}

        {% comment %} Site footer {% endcomment %}
        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <p style="margin-bottom: 0px; font-size: 0.8em;"><img src="{% static 'site/img/logo.png' %}" alt="logo" width="30" height="30" style="margin-top: -10px"> &copy; {% now 'Y' %} django_chinese.com All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock footer%}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" crossorigin="anonymous"></script>

        {% block scripts %} 
        {% endblock scripts %}
    </body>
</html>