{% extends "account/auth_base.html" %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - 重置密码{% endblock %}

{% block content %}
    <h3 class="text-center font-weight-bold mt-5">重置密码</h3>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>忘记了你的密码？输入电子邮件，我们会发送重置密码电子邮件给您。</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-primary" type="submit" value="重置我的密码" />
    </form>
    <p class="mt-3">如果您在重置密码时遇到任何麻烦，请与我们联系。</p>
{% endblock %}
